# App
PORT=3000

# Postgres client (usado pela app e pelo runner de migrações)
DB_HOST=db
DB_PORT=5432
DB_USER=flags
DB_PASSWORD=flags
DB_NAME=flags

# Postgres server (usado para inicializar o container `db`)
POSTGRES_USER=flags
POSTGRES_PASSWORD=flags
POSTGRES_DB=flags
